.cool-input {
  width: 150px;
  height: 60px;
  margin-right: 5px;
}

.cool-input span {
  position: relative;
  font-size: 13px;
  top: 6px;
  left: 27px;
  z-index: 1;
}

.picker {
  padding: 20px; 
  border: 1px solid blue;
  border-radius: 10px;
  padding: 26px 16px 10px 26px; 
  width: 150px;
  margin-top: -30px;
}

.picker:focus {
  outline: none;
  border-radius: 10px;
}

.time-container {
  width: 100%;
  height: 60px;
  margin: 20px;
}

.time-container div {
  float: left;
}